@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html , body{
  height: 100vh;
}

body{
  padding: 0 0;
  margin: 0 0;

  font-size: 1rem;
  text-align: left;
  color: #111;

  font-family: 'Kosugi Maru', sans-serif;
  background: linear-gradient(113deg, #f6e87f, #f6c37f);
  background-size: 400% 400%;
  animation: AnimationName 4s ease infinite;

}



div#wrap{}


.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


#seeyou{
  display: none;

  height: 95vh;
  margin: 0 auto;

  padding-left: 33%;
  text-indent: -100px;

  font-size: 2rem;
  padding-top: 15%;

  background-color: #f6e87f;
}





#pagetop{

  display: none;

  padding: 5px 0 0 20px;
  text-align: left;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1; /* z軸 */
}



main section{
  width: 100%;
  margin: 0 auto;
}

main section div{
  padding: 80px 0;
  z-index: 2;
}


main section{
  padding: 100px 0;
}


h2{
  padding: 30px 0;
  text-align: center;
  font-size: 3rem;
}

h3{
  padding: 30px 0;
  text-align: center;
}

main p{
  margin: 20px 0;
  text-align: left;
  line-height: 1.6rem;
  text-indent: 1rem;
}

ul li{
  line-height: 1.6rem;
  list-style: none;
  text-indent: 1rem;
}


ul.norts li{
  margin: 30px auto;
  line-height: 1.6rem;
  list-style: none;
  text-indent: 1rem;
}

img.norts{
  padding: 10px 10px;
}

ul li.chara{
  width: 850px;
  margin: 100px auto;
  padding: 50px 10px;
}

img.chara{
  padding: 0 10px;
}


p.norts{
  text-align: center;
}


img.icon{
  padding: 20px 20px;
  vertical-align: middle;
}


section.ossm img{
  padding: 20px 20px;
}

section.ossm p{
  margin: 80px 0 50px 0;
}

div.system_03 ul li{
  margin: 200px 20px;
}

div.system_03 img{
  padding: 10px 10px;
}

ul li.onpu{
  text-align: center;
}
ul li.onpu img{
  text-align: center;
  padding: 0 0;
}

p.ossm{
  text-align: center;
}


table tr td{
  padding-left: 10px;
  vertical-align: middle;
  text-indent: 1rem;
}


.nine{
  width: 40vw;
}


.back_img{
  width: 100%;
  height: 0;
  padding-top: 58%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-attachment: fixed;
}



.header_img{
  display: none;
  background-image: url(../images/header.png);
}


.sec_01{
  background-image: url(../images/a.jpg);
}

.sec_02{
  background-image: url(../images/bet_02.jpg);
}


footer{
  padding: 10px;
  text-align: center;
  color: #111;
  background-color: #feec6d;
}

