@charset "utf-8";

main{
  float: left;

  width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

    main section table{
      padding: 5px 5px;
      margin: 0;
    }

    main section table tr{}

    main section table tr td{
      width: 240px;
      height: 50px;
      text-align: center;
      padding: 5px;
    }

    main section table tr td.memb_img{
      width: 240px;
    }
